<div class="animate__animated animate__backInRight animate__faster">
  <h2>Por capital</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar capital..."
      ></app-pais-input>
    </div>
  </div>
  <hr />
  <div *ngIf="error" class="alert alert-danger">
    No se encontró nada con el termino: {{ termino }}
  </div>

  <div class="row">
    <div class="col">
      <app-tablapaises [paises]="paises"></app-tablapaises>
    </div>
  </div>
</div>
